@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

#principal{
    width: 100%;
    height: 103px;
    background-color: #0C70F2;
    display: flex;
}

#menu{
    display: flex;
    width: 48%;
    justify-content: space-around;
    
    
}

#principal div a{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: -1200px;
    margin-top: 40px;   
}
#principal div a:hover{
    color: #ebeaea;
}

#menu2{
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 800;
    color: #FFFFFF;
    margin-left: 56px;
    margin-top: 21px;
    cursor: pointer;
    
}
